#gem-ui-seno{
    background-color: rgb(237, 234, 240);
    
  }
  #gem-ui-activity-name{

background-color: rgb(237, 234, 240);
}
#gem-ui-pre{
  
    background-color: rgb(218, 247, 207);
}
#gem-ui-during{
  
    background-color: rgb(220, 234, 238);
}
#gem-ui-post{
   
    background-color: rgb(245, 229, 187);
}

