/* start CSS for navbar */



/*............. START LOGOUT POPUP PART...............*/

/* Start CSS for logout button*/
.gem-ui-logout-btn {
    border: none;
    text-align: right;
    align-self: auto;
    margin-right:18px;
    margin-bottom:20px;
}
/* End CSS for logout button*/

.logout-gem-ui {
    top:50px;
    right:15px;;
 }

.gem-ui-image-logout-content{
    padding-top: 15px;
    margin:10px;
}
.gem-ui-user-name{
    font-size: 20px;
    font-style: inherit;
    color:rgb(116, 114, 114);
    font-weight: bold;
    margin-top:35px;
}

/*.......... END HERE LOGOUT POPUP PART.............*/