<div class="gem-ui-img-cont">
</div>

<div class="gem-ui-page">
    <div class="ui container">
        <div class="ui center cards">

            <div class="card">
                <div class="content">
                    <div class="right floated ui dropdown item">
                        <i class="ellipsis vertical icon"></i>
                        <div class="menu">
                            <a class="item user_mngt" (click)="goAddContractor()"><i class="user icon"></i>Add Contractor</a>
                            <a class="item master_mngt" (click)="goViewContractor()"><i class="edit icon"></i>View
                            Contractor</a>
                        </div>
                    </div>
                    <div class="header" id="proj_name">Contractor Details</div>
                    <div class="meta">Provide details of contractors that have worked on DFCC bridges</div>
                </div>
            </div>
        </div>
    </div>
</div>